* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Creato Display', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container1 {
  width: 100%;
  height: 100vh;
}