.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 2rem;
    border: 1px solid #ccc;
    z-index: 999; /* Set a high z-index to ensure it appears on top of other elements */
    width: 100%;
    max-width: 600px;
    height: 50%;
    max-height: 600px;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;


  }
  
.grid-span-2{
    grid-column: span 2;

}

.three-child-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sub-card{
    border: 1px solid red;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}


.div-grid{
    background-color: black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 2fr 3fr 2fr 1fr 1fr;
    grid-template-areas: 'card1'
                         'card2'
                         'card3'
                         'card4'
                         'card5'
                         'card6'
                         'card7';
    gap: 1.5rem;
    padding: 0 5rem 0 5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-inline: auto;
    .card{
        background: rgba(183, 183, 183, 0.25);
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        color: white;
        padding: 2rem;
        z-index: 1;
        overflow: hidden;
        transition: 0.5s;
        cursor: pointer;
        width: 100%;
        height: 100%;
        .cardTitle{
            font-size: 30px;
            font-weight: 600;
            text-align: center;
        }
        .cardDescription{
            font-size: 20px;
            font-weight: 400;
            text-align: center;
        }
        .cardImage{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .cardButton{
            background-color: rgb(255, 255, 255);
            border: none;
            border-radius: 50px;
            padding: 10px 40px;
            font-size: 20px;
            cursor: pointer;
        }
        .cardButton:hover{
            background-color: rgb(255, 255, 255);
            border: none;
            border-radius: 50px;
            padding: 10px 40px;
            font-size: 20px;
}
    }
}

.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}
.card6{
    grid-area: card6;
}
.card7{
    grid-area: card7;
}

@media screen and (min-width: 768px){
    .div-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-areas: 'card1 card1 card2 card2'
                             'card3 card3 card4 card4'
                             'card5 card5 card6 card7';
                             
    }
    .card1{
        grid-area: card1;
    }
    .card2{
        grid-area: card2;
    }
    .card3{
        grid-area: card3;
    }
    .card4{
        grid-area: card4;
    }
    .card5{
        grid-area: card5;
    }
    .card6{
        grid-area: card6;
    }
    .card7{
        grid-area: card7;
    }
}