.greenGradient {
    background: linear-gradient(160deg, #166034 0%, #00FF66 100%) padding-box,
        linear-gradient(160deg, #a3a3a3 0%, #636363 100%) border-box;
    border-radius: 25px;
    border: 1px solid transparent;
    padding: 10px 40px;
    text-align: left;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.37);
}

.grayGradient {
    background: linear-gradient(160deg, #323232 0%, #1a1a1a 100%) padding-box,
        linear-gradient(160deg, #a3a3a3 0%, #636363 100%) border-box;
    border-radius: 25px;
    border: 1px solid transparent;
    padding: 10px 40px;
    text-align: left;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.37);
}