*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container1{
  width: 100vw;
  min-height: 100vh;
  display: block;
}

.navbar{
  width: 100%;
  height: 10vh;
  background: #786f6f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  position: fixed;
  z-index: 1000;
}

